@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

::-webkit-scrollbar{
    display: none;
}



.text-primary{
    color: #5F6FFF;
}

.bg-primary{
    background-color: #5F6FFF;
}

.border-primary{
    background-color: #5F6FFF;
}